{% macro get(request, mb_id, name='', email='', homepage='') -%}
    {% set bo_table = request.path_params.bo_table %}
    {% set use_member_icon = request.state.config.cf_use_member_icon %}
    {% if mb_id %}
        <span class="sv_wrap">
            <a href="/nitris/myhome/{{ mb_id }}" class="sv_member" title="{{ name }} 마이홈" target="_blank" rel="nofollow" onclick="return false;">
                {% if use_member_icon != 0 %}
                <span class="profile_img"><img src="{{ get_member_icon(mb_id) }}" width="22" height="22" alt=""></span>
                {% endif %}
                {% if use_member_icon != 1 %}
                {{ name }}
                {% endif %}
            </a>
            <span class="sv">
                <a href="/nitris/myhome/{{ mb_id }}" rel="nofollow">마이홈 (작가방)</a>
            </span>
        </span>
    {% else %}
        {% if bo_table %}
            <span class="sv_wrap">
                <a href="/board/{{ bo_table }}?sfl=wr_name,1&stx={{ name }}" title="{{ name }} 이름으로 검색" class="sv_guest" rel="nofollow" onclick="return false;">
                    {{ name }}
                </a>
                <span class="sv">
                    <a href="/board/{{ bo_table }}?sfl=wr_name,1&stx={{ name }}" rel="nofollow">이름으로 검색</a>
                    {% if email %}<a href="/bbs/formmail/{{ mb_id }}?name={{ name }}&email={{ email }}" onclick="win_email(this.href); return false;" rel="nofollow">메일보내기</a>{% endif %}
                    {% if homepage %}<a href="{{ homepage }}" rel="nofollow noopener" target="_blank">홈페이지</a>{% endif %}
                </span>
            </span>
        {% else %}
            {{ name }}
        {% endif %}
    {% endif %}
{%- endmacro %}