/* 초기화 */
html{overflow-y:scroll}
body{margin:0;padding:0; font-family: "Noto Sans KR", sans-serif;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img, dl, dt, dd, ul, li{margin:0;padding:0;border:0}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}

li{list-style:none;font-size:14px;}

p{margin:0;padding:0;word-break:break-all}
hr{display:none}
a {color: var(--fontColor); text-decoration: none;}
a:hover { color: #717ff5; text-decoration: none;}

/* 그누보드 */
.sr-only {position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0;}
.sr-only-focusable:active,.sr-only-focusable:focus { position: static; width: auto; height: auto; margin: 0; overflow: visible; clip: auto;}
.msg_sound_only, .sound_only {display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}
.btn_admin { display: none; }
.ck.ck-editor__editable { min-height: 200px !important; }
.tox-edit-area{padding:30px;}
.tox .tox-statusbar__wordcount {border:0;}
.dropdown:hover .dropdown-menu {display: block; margin-top: 0;}
.dropdown-menu .nav-link{font-size:13px!important;font-weight:400;}

/* 캡챠 자동등록(입력)방지 기본 -pc */
#captcha {display:inline-block;position:relative;max-width:none;background:none;text-align:left;}
#captcha legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden;}
#captcha #captcha_img {height:40px;border:1px solid #ccc;vertical-align:top;padding:0;margin:0;border-radius:3px}
#captcha #captcha_mp3 {margin:0;padding:0;width:40px;height:40px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer;background:url('../../../img/captcha2.png') no-repeat;text-indent:-999px;border-radius:3px}
#captcha #captcha_reload {margin:0;padding:0;width:40px;height:40px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer;background:url('../../../img/captcha2.png') no-repeat  0 -40px;text-indent:-999px;border-radius:3px}
#captcha #captcha_key {margin:0 0 0 3px;padding:0 5px;width:90px;height:40px;border:1px solid #ccc;background:#fff;font-size:1.333em;font-weight:bold;text-align:center;border-radius:3px;vertical-align:top}
#captcha #captcha_info {display:block;margin:5px 0 0;font-size:80%;color:#ff0000;letter-spacing:-0.1em}

/* 팝업레이어 */

/* 팝업레이어 */
#hd_pop {z-index:1000;position:relative;margin:0 auto;height:0;}
#hd_pop h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.hd_pops {position:absolute;background:transparent; border-top-left-radius:10px; border-top-right-radius:10px;}
.hd_pops img {max-width:100%; border-top-left-radius:10px; border-top-right-radius:10px;}
.hd_pops_con {overflow:hidden; border-top-left-radius:10px; border-top-right-radius:10px;}
.hd_pops_footer {padding:0;background:#000;color:#fff;text-align:left;position:relative; border-bottom-left-radius:10px !important;  border-bottom-right-radius:10px !important;}
.hd_pops_footer:after {display:block;visibility:hidden;clear:both;content:""}
.hd_pops_footer button {padding:10px 10px;border:0;color:#fff}
.hd_pops_footer .hd_pops_reject {background:#000;text-align:center; width:calc(100% - 100px); border-bottom-left-radius:10px !important; letter-spacing:-0.5px; font-size:13px;height:40px;}
.hd_pops_footer .hd_pops_close {background:#393939;position:absolute;top:0;right:0; border-bottom-right-radius:10px !important; width:30%; max-width:100px; font-size:13px;}
.hd_pops_footer .hd_pops_reject:hover, .hd_pops_footer .hd_pops_close:hover {background:#f00; }
/*

#hd_pop {z-index:1000;position:relative;margin:0 auto;height:0}
#hd_pop h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.hd_pops {position:absolute;border:1px solid #e9e9e9;background:#fff}
.hd_pops img {max-width:100%}
.hd_pops_con {overflow:auto;}
.hd_pops_footer {padding:0;background:#000;color:#fff;text-align:left;position:relative}
.hd_pops_footer:after {display:block;visibility:hidden;clear:both;content:""}
.hd_pops_footer button {padding:10px;border:0;color:#fff}
.hd_pops_footer .hd_pops_reject {background:#000;text-align:left}
.hd_pops_footer .hd_pops_close {background:#393939;position:absolute;top:0;right:0}
*/


/* 모달창 */
.modal-gray{color:#000!important;background-color:#9e9e9e!important}
.modal-dark{color:#fff!important;background-color:#616161!important}
.modal-crimson{color:#000!important;background-color:#cc2300!important}
.modal-indigo{color:#fff!important;background-color:#607d8b!important}
.modal-teal{color:#fff!important;background-color:#009688!important}
.modal-purple{color:#fff!important;background-color:#9c27b0!important}

/* 칼라모드 */
.bd-placeholder-img {font-size: 1.125rem;text-anchor: middle;-webkit-user-select: none;-moz-user-select: none;user-select: none;}
@media (min-width: 768px) {
.bd-placeholder-img-lg {font-size: 3.5rem;}
}
.b-example-divider {width: 100%;height: 3rem;background-color: rgba(0, 0, 0, .1);border: solid rgba(0, 0, 0, .15);border-width: 1px 0;box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);}
.b-example-vr {flex-shrink: 0;width: 1.5rem;height: 100vh;}
.bi {vertical-align: -.125em;fill: currentColor;}
.nav-scroller {position: relative;z-index: 2;height: 2.75rem;overflow-y: hidden;}
.nav-scroller .nav {display: flex;flex-wrap: nowrap;padding-bottom: 1rem;margin-top: -1px;overflow-x: auto;text-align: center;white-space: nowrap;-webkit-overflow-scrolling: touch;}
.btn-bd-primary {
--bd-violet-bg: #712cf9;
--bd-violet-rgb: 112.520718, 44.062154, 249.437846;
--bs-btn-font-weight: 600;
--bs-btn-color: var(--bs-white);
--bs-btn-bg: var(--bd-violet-bg);
--bs-btn-border-color: var(--bd-violet-bg);
--bs-btn-hover-color: var(--bs-white);
--bs-btn-hover-bg: #6528e0;
--bs-btn-hover-border-color: #6528e0;
--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
--bs-btn-active-color: var(--bs-btn-hover-color);
--bs-btn-active-bg: #5a23c8;
--bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {z-index: 1500;}
.bd-mode-toggle .dropdown-menu .active .bi {display: block !important;}

/* 상단버튼 */
#hd_qnb{}
#hd_qnb:after {display:block;visibility:hidden;clear:both;content:""}
#hd_qnb li{float:left;font-size:1.083em;line-height:15px;position:relative;text-align:center;margin:0 5px}
#hd_qnb li span {display:none;margin-top:5px;font-size:0.92em}
#hd_qnb li a{display:block}
#hd_qnb li i{display:inline-block;width:40px;line-height:40px;border-radius:25px;background:#fff;text-align:center;margin:0;color:#fff}
#hd_qnb .visit .visit-num{display:inline-block;line-height:18px;padding:0 5px;border-radius:10px;background:#f04e00;color:#fff;font-size:10px;position:absolute;top:0;right:0}
#hd_qnb li .fa-question{background:#e83a5f;font-size:20px}
#hd_qnb li .fa-question:hover{background:#e41b45}
#hd_qnb li .fa-comments{background:#82c13f;font-size:16px}
#hd_qnb li .fa-comments:hover{background:#5aa708}
#hd_qnb li .fa-users{background:#f0ba00;font-size:15px}
#hd_qnb li .fa-users:hover{background:#f06f00}
#hd_qnb li .fa-history{background:#8522c4;font-size:15px}
#hd_qnb li .fa-history:hover{background:#6700a9}
#hd_qnb li .fa-user-circle{background:#0033ff;font-size:15px}
#hd_qnb li .fa-user-circle:hover{background:#0066ff}
#hd_qnb li .fa-bell-o{background:#ff6600;font-size:15px}
#hd_qnb li .fa-bell-o:hover{background:#ff3300}
#hd_qnb .btn-primary{width:40px;height:40px;border-radius:50%;text-align:center;line-height:10px;margin:0;}
#hd_qnb .pushmsg .pushmsg-num{display:inline-block;line-height:18px;padding:0 5px;border-radius:10px;background:#0066ff;color:#fff;font-size:10px;position:absolute;top:0;right:0}

/* carousel 이미지 */
.ca_img{width:1000px;height:300px}

.card{
	width: 25%; 
	max-width: 230px; 
	margin-right: 10px; 
	width: 18rem; 
	justify-content: center; 
	align-items: center; 
}
/* pic-list 이미지 */
.pic_img{width:100%;height:120px}

/* bs-slick 이미지 */
.slick_img{width:98%;height:180px}

@media only screen and (max-width: 800px) {
	.logo_img{text-align:center;}
	.ca_img{width:800px;height:250px;}
	.pic_img{width:100%;height:200px}
	.slick_img{width:100%;height:200px}
}

/* 아코디언 +표시 */
.accordion-button::after {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");}
.accordion-button:not(.collapsed)::after {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");}
.accordion-button::after {transition: all 0.5s;}

/* 네비게이션 */
.navbar .dropdown-fullwidth{position:static}
.navbar .dropdown-fullwidth .dropdown-menu{left:0;margin:1.25rem auto;max-width:1320px;padding:1rem 0;right:0;top:50px;}
.navbar-nav .dropdown:hover .dropdown-menu {display: block; margin-top: 0;}
.navbar-nav .dropdown-menu{display:block;opacity:0;transform:translateY(20px);transition:all .3s ease-in;visibility:hidden}
.navbar-nav .dropdown:hover>.dropdown-menu{opacity:1;transform:scaleY(1);visibility:visible}

.navbar .dropdown-submenu.dropend .dropdown-menu{border-radius:.5rem;box-shadow:var(--bs-box-shadow);left:100%;min-width:10rem;right:auto;top:-18px}
.navbar .navbar-nav .dropend>.dropdown-menu{transform:translateY(10px)}
.navbar .dropdown-submenu:hover>.dropdown-menu{opacity:1;transform:translateY(10px);visibility:visible}}
.navbar .dropdown-toggle:after{float: right}
.navbar .dropend .dropdown-toggle:after{border: 0;content: "\F231"; display: inline-block;font-family:bootstrap-icons!important;font-size:10px;margin-top:5px;float: right}

.card-img{overflow:hidden;}
.card-img img{width:100%;height:120px;object-fit:cover;object-fit:cover;-webkit-transition: transform 1s ease-out;-moz-transition: transform 1s ease-out;-o-transition: transform 1s ease;transition: transform 1s ease-out;}
.card-img a:hover img{-webkit-transform:scale(1.05); -moz-transform:scale(1.05);  -o-transform:scale(1.05);  transform:scale(1.05);}
@media all and (max-width: 768px){
	#card-container{
		width: 100%;
		overflow: auto;
	}
	.card {
		flex: auto;
		width: 25%; 
		justify-content: left;
		align-items: left;
		min-width: 200px; 
		margin-right: 10px; 
	}
}
@media only screen and (max-width: 800px) {
	.card-img img{width:100%;height:240px;object-fit:cover;object-fit:cover;-webkit-transition: transform 1s ease-out;-moz-transition: transform 1s ease-out;-o-transition: transform 1s ease;transition: transform 1s ease-out;}
}

/* 버튼 추가 */
.btn-gray{color:#000!important;background-color:#9e9e9e!important}
.btn-dark{color:#fff!important;background-color:#616161!important}
.btn-crimson{color:#000!important;background-color:#cc2300!important}
.btn-indigo{color:#fff!important;background-color:#607d8b!important}
.btn-teal{color:#fff!important;background-color:#009688!important}
.btn-purple{color:#fff!important;background-color:#9c27b0!important}
.btn-pink{color:#fff!important;background-color:#e91e63!important}

/* 추가 색상 및 테두리 */
.bg-aqua,.bg-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.bg-blue,.bg-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.bg-light-blue,.bg-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.bg-brown,.bg-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.bg-cyan,.bg-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.bg-blue-grey,.bg-hover-blue-grey:hover,.bg-blue-gray,.bg-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.bg-green,.bg-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.bg-light-green,.bg-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.bg-indigo,.bg-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.bg-khaki,.bg-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.bg-lime,.bg-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.bg-orange,.bg-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.bg-deep-orange,.bg-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.bg-pink,.bg-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.bg-purple,.bg-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.bg-deep-purple,.bg-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.bg-red,.bg-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.bg-sand,.bg-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.bg-teal,.bg-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.bg-yellow,.bg-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.bg-grey,.bg-hover-grey:hover,.bg-gray,.bg-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.bg-light-grey,.bg-hover-light-grey:hover,.bg-light-gray,.bg-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.bg-dark-grey,.bg-hover-dark-grey:hover,.bg-dark-gray,.bg-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.bg-pale-red,.bg-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.bg-pale-green,.bg-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.bg-pale-yellow,.bg-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}

.border-aqua,.border-hover-aqua:hover{border-color:#00ffff!important}
.border-blue,.border-hover-blue:hover{border-color:#2196F3!important}
.border-light-blue,.border-hover-light-blue:hover{border-color:#87CEEB!important}
.border-brown,.border-hover-brown:hover{border-color:#795548!important}
.border-cyan,.border-hover-cyan:hover{border-color:#00bcd4!important}
.border-blue-grey,.border-hover-blue-grey:hover,.border-blue-gray,.border-hover-blue-gray:hover{border-color:#607d8b!important}
.border-green,.border-hover-green:hover{border-color:#4CAF50!important}
.border-light-green,.border-hover-light-green:hover{border-color:#8bc34a!important}
.border-indigo,.border-hover-indigo:hover{border-color:#3f51b5!important}
.border-khaki,.border-hover-khaki:hover{border-color:#f0e68c!important}
.border-lime,.border-hover-lime:hover{border-color:#cddc39!important}
.border-orange,.border-hover-orange:hover{border-color:#ff9800!important}
.border-deep-orange,.border-hover-deep-orange:hover{border-color:#ff5722!important}
.border-pink,.border-hover-pink:hover{border-color:#e91e63!important}
.border-purple,.border-hover-purple:hover{border-color:#9c27b0!important}
.border-deep-purple,.border-hover-deep-purple:hover{border-color:#673ab7!important}
.border-red,.border-hover-red:hover{border-color:#f44336!important}
.border-sand,.border-hover-sand:hover{border-color:#fdf5e6!important}
.border-teal,.border-hover-teal:hover{border-color:#009688!important}
.border-yellow,.border-hover-yellow:hover{border-color:#ffeb3b!important}
.border-grey,.border-hover-grey:hover,.border-gray,.border-hover-gray:hover{border-color:#9e9e9e!important}
.border-light-grey,.border-hover-light-grey:hover,.border-light-gray,.border-hover-light-gray:hover{border-color:#f1f1f1!important}
.border-dark-grey,.border-hover-dark-grey:hover,.border-dark-gray,.border-hover-dark-gray:hover{border-color:#616161!important}
.border-pale-red,.border-hover-pale-red:hover{border-color:#ffe7e7!important}
.border-pale-green,.border-hover-pale-green:hover{border-color:#e7ffe7!important}
.border-pale-yellow,.border-hover-pale-yellow:hover{border-color:#ffffcc!important}
.border-pale-blue,.border-hover-pale-blue:hover{border-color:#e7ffff!important}

.fs-7{font-size:15px}
.fs-8{font-size:13px}
.fs-9{font-size:10px}
.text-purple{color:#9c27b0!important;vertical-align:bottom;}
.text-deep-orange{color:#ff5722!important;vertical-align:bottom;}
/* 스마트에디터 단축키 제거 */
.btn_cke_sc {display:none;}