{% extends "base.html" %}

{% block title %}{{ request.state.title }}{% endblock title %}

{% block content %}
<h2 class="sound_only">최신글</h2>
<div class="latest_top_wr">
  {{ render_latest_posts(request, 'main_list', 'firstfox', 4, 23)|safe }}
</div>
<div class="latest_wr">
  {{ render_latest_posts(request, 'pic_block', 'clip', 4, 23)|safe }}
</div>
<div class="latest_wr">
    {{ render_latest_posts(request, 'pic_list', 'mygame', 4, 23)|safe }}
    {{ render_latest_posts(request, 'pic_list', 'myflash', 4, 23)|safe }}
    {{ render_latest_posts(request, 'pic_list', 'free', 4, 23)|safe }}
</div>
<div class="latest_wr">
    {{ render_latest_posts(request, 'pic_block', 'myillust', 4, 23)|safe }}
</div>
<div class="latest_wr">
  {{ render_latest_posts(request, 'pic_block', 'mytoon', 4, 23)|safe }}
</div>
{% endblock content %}