{% if board.bo_use_sideview %}
    {% import "/sideview/macros.html" as sideview %}
{% endif %}

{% set thumb_width, thumb_height = 150, 100 %}
<a href="{{ url_for('list_post', bo_table=bo_table) }}" class="lt_more">
    <p class="h4">{{ board.subject }}</p>
</a>
<div id="card-container">
    <div class="shadow-sm p-3 mb-5  rounded d-flex p-2" style="width: 100%;">
        {% for write in writes -%}
        <div class="shadow-sm p-3 mb-5 rounded card">
            <a href="{{ url_for('read_post', bo_table=bo_table, wr_id=write.wr_id) }}" class="lt_img">
                {% set thumbnail=get_list_thumbnail(request, board, write, thumb_width, thumb_height) %}
                {% if thumbnail.src %}
                <img src="{{ thumbnail.src }}" onerror="this.src='/img/no_img.png';" class="card-img-top" alt="{{ thumbnail.alt }}">
                {% else %}
                <img src="{{ url_for('static', path='/img/no_img.png') }}" class="card-img-top" alt="이미지가 없습니다." width="{{ thumb_width }}" height="{{ thumb_height }}">
                {% endif %}
            </a>
            <div class="card-body">
              <a href="{{ url_for('read_post', bo_table=bo_table, wr_id=write.wr_id) }}">
                    {% if write.is_notice %}<strong>{{ write.subject }}</strong>{% else %}{{ write.subject }}{% endif %}
              </a>
              <p class="card-text">
                <div class="lt_info">
                    <span class="lt_nick">
                        {% if board.bo_use_sideview %}
                            {{ sideview.get(request, write.mb_id, write.name, write.wr_email, write.wr_homepage)|safe }}
                        {% else %}
                            <span class="{% if write.mb_id %}member{% else %}guest{% endif %}">
                                {{ write.name }}
                            </span>
                        {% endif %}
                    </span>
                    <span class="lt_date">{{ write.datetime }}</span>              
                </div>
              </p>
            </div>
        </div>
            {% else -%}
                <li class="empty_li">게시물이 없습니다.</li>
        {%- endfor %}
    
    </div>
</div>
